import requests
import re

ae = [] 
e = [] 
ah = [] 
awh =[] 
nvu =[] 
vu = [] 
s = 'http://www.mosigra.ru'
nvu.append(s)
n=0
while n<10: 

    sc = requests.get(nvu[0]) 
    nvu.pop(0)
    ae = re.findall(r'\w+[0-9a-zA-Z\_\-\/\.]+\@[0-9a-zA-Z\_\-\/]+\.[0-9a-zA-Z\_\-\/]+',sc.text) 
    ah = re.findall(r'(href="\/[0-9a-zA-Z\_\-\/\.]+)',sc.text) 
    for i in range(len(ae)): 
        if ae[i] not in e:
            e.append(ae[i])
            
    for i in range(len(ah)): 
         awh.append(re.sub(r'href="','',ah[i]))
    
    for i in range(len(awh)): 
        if s+awh[i] not in nvu and s+awh[i] not in vu:
            nvu.append(s+awh[i])
    n=n+1    
    print(nvu[0])

for i in range(len(e)):
    print (e[i])
